@tailwind base;
@tailwind components;
@tailwind utilities;
.body{
    font-family: "Edu AU VIC WA NT Guides", cursive;

}
.h-CTA{
    height: 40vw;
}
.h-szs-lg{
font-size: 12vw ;
margin-top: -6vw;    
}
.h-zsz-md{
    font-size: 6vw;
}
.font-peps{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
